* {
  font-family: 'Fredoka One', cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html{
  height: 100%;
  width: 100%;
  margin: 0px;
  overflow-x: hidden;
}

section{
  height: 25%;
  width: 100%;
}

h1 {
  font-family: 'Fredoka One', cursive;
}
.section-content{
  padding-top: 350px;
  padding-bottom: 350px;
}
.navbar{
  background-color: #D9E2FF;
}
.carousel-item{
  height:40%;
}
.my-img{
  height: 800px;
  width:1200px;
}
.profile{
  height:250px;
  width:250px;
  opacity: 1;
}


/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
}

/*Home section */

section#home.text-center.section-content{
  height: 25%;
  width:100%;
  background: no-repeat, url('quartneyquo.github.io/portfoliobackground.svg');
  background-size: 100% auto;

}

div.righthalf {
  width: 50%;
  float: right;
  margin-bottom: 150px;
  position: relative;
  top: 10px;
  margin-top: -125px;
}

p{
  margin-left: 20px;
  margin-right: 20px;
  justify-content: center;
}

section#home.text-center.section-content > p{
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
}
div.lefthalf {
  width: 50%;
  float: left;
  height: 100%;
  margin-top: -125px;
}
img.profile{
  height: 50%;
  width: 40%;
}

/*Projects section */
section#projects.text-center.section-content > img{
  width: 25%;
}

.row{
  margin: 15px;
}

a.btn.btn-primary{
  background-color: #D9E2FF;
  font: #000000;
  border: #D9E2FF;
}

.btn-primary{
  color: black;
}
/* Three image containers (use 25% for four, and 50% for two, etc) */


img{
  width: 100%;
}
/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}


/* resume */

div.righthalf1{
  width: 35%;
  float: right;
  height: 25vw;
  text-align: right;
  margin: auto;
}

div.lefthalf1{
  width: 65%;
  float: left;
  height: 25vw;
  margin-right: 0 auto;
  height: 100%;
}


div.centered {
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

iframe{
  overflow:visible;
  width: 80%;
  position: relative;
  margin: 10px;
  margin-top: -300px;
  top: 5;
}


section#resume.text-center.section-content{
  height: 25%;
  width:100%;
  background: no-repeat, url('quartneyquo.github.io/starresume.svg');
  background-size: auto, 100%;

}

#home{
  background: url('quartneyquo.github.io/portfoliobackground.svg');
  background-size: cover;
}
#projects{
  background: #D9E2FF;
  background-size: cover;
}
#resume{
  background: no-repeat, url('quartneyquo.github.io/starresume.svg');
  background-size: cover;
}

#Contact{
  background: #D9E2FF;
  background-size: cover;
}

/* contact */

.fa {
  padding: 20px;
  font-size: 30px;
  width: 70px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa-envelope {
  background-color: #add8e6;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

@media(max-width: 768px){
  html{
    overflow-x: hidden;
  }
  section#home.text-center.section-content{
    background: #D9F6FF;
  }
  div.righthalf {
    width: 100%;
    margin-top: -100px;
    position: relative;
    top: -200px;
  }
  div.lefthalf{
    width:100%;
    margin-top: -100px;
    position: relative;
    top: -200px;
    background: #D9F6FF;
  }
  h1 h2 p{
    font-size: 12px;
    text-align: center;
    background-color: #D9F6FF;
  }
  section#resume.text-center.section-content{
    background: #D9F6FF
  }
  #resume{
    overflow-x: visible;
  }
  div.lefthalf1{
    width: 0;
  }
  div.righthalf1{
    text-align: center;
    margin:auto;
    width: 100%;
  }
  h1{
    text-align: center;
    display: visible;
    overflow-x: visible;
  }

  .div#righthalf1{
    float: left;
    background: #D9F6FF;
  }
  iframe{
    display: none;
  }
  div.col-md-4.col-sm-4{
    padding-bottom: 15px;
  }
  img{
    padding-bottom: 30px;
  }
}
